.required:after { content: "*"; color: #ff2556; margin-left: 3px; }

/* dtree自定义样式 */
.dtree-category-item-this{color: #009688;}
.dtree-category-item:hover{color: #009688;}
.dtree-category-item cite{font-size:14px;}
.dtree-category-item:hover cite{color:#009688;}
.dtree-category-dtreefont{font-size: 16px;}
.dtree-category-ficon{font-size: 14px;color:#393D49;}
.dtree-category-icon{color:#393D49;}
.dtree-category-checkbox:hover{color:#01AAED;}
.dtree-category-choose{color:#01AAED;}
.dtree-icon-hide:before {width: 14px;}
.dtree-toolbar .layui-nav-child dd a i {color: #009688}
.dtree-icon-hide {margin: 0!important;}
.dtree-nav-item .layui-icon-rate-solid {position: absolute;top: 0;left: -15px;}
.dtree-nav-item .layui-icon-rate {position: absolute;top: 0;left: -15px;}

/* 表格内列表样式 */
.erp-table-list-ul{border-top: 1px solid #e6e6e6;}
.erp-table-list-ul-first{border-top: none;}
.erp-table-list-li {display: inline-block; padding-top: 5px; padding-bottom: 5px; border-left: 1px solid #e6e6e6; line-height: 28px;}
.erp-table-list-li-first {border-left: none;}

/* 表单样式 */
.layui-form-item[pane], .layui-form-pane .layui-form-item{background-color: #fff;}
.erp-form-span{height: 38px;line-height: 38px; padding-left: 10px;}