.required:after { content: "*"; color: #ff2556; margin-left: 3px; }

/* dtree自定义样式 */
.dtree-category-item-this{color: #009688;}
.dtree-category-item:hover{color: #009688;}
.dtree-category-item cite{font-size:14px;}
.dtree-category-item:hover cite{color:#009688;}
.dtree-category-dtreefont{font-size: 16px;}
.dtree-category-ficon{font-size: 14px;color:#393D49;}
.dtree-category-icon{color:#393D49;}
.dtree-category-checkbox:hover{color:#01AAED;}
.dtree-category-choose{color:#01AAED;}
.dtree-icon-hide:before {width: 14px;}
.dtree-toolbar .layui-nav-child dd a i {color: #009688}
.dtree-icon-hide {margin: 0!important;}
.dtree-nav-item .layui-icon-rate-solid {position: absolute;top: 0;left: -15px;}
.dtree-nav-item .layui-icon-rate {position: absolute;top: 0;left: -15px;}

/* 表格内列表样式 */
.erp-table-list-ul, .erp-table-list-ul-first{display: table-row}
.erp-table-list-li, .erp-table-list-li-first{display: table-cell}
.erp-table-list-ul{border-top: 1px solid #e6e6e6;}
.erp-table-list-ul-first{border-top: none;}
.erp-table-list-li{padding-top: 5px; padding-bottom: 5px; border-left: 1px solid #e6e6e6; line-height: 28px;}
.erp-table-list-li-first{border-left: none;}

td[data-field=action] i.layui-icon{color: #009688;}

/* 表单样式 */
.layui-form-item[pane], .layui-form-pane .layui-form-item{background-color: #fff;}
.layui-form-pane .erp-form-button-item{background-color: inherit;}
.erp-form-span{display: block; box-sizing: border-box; height: 38px; vertical-align: middle; padding-left: 10px; width: 100%; border: 1px solid #e6e6e6; line-height: 38px;}
.erp-after-radio-input{width: 80px; height: 28px; border: 0; display: inline; margin-left: -20px; vertical-align: middle; margin-top: 6px; border-bottom: 1px solid #cccccc;}
.erp-after-switch-input{height: 22px;line-height: 22px;margin-top: 6px;border: 0; border-bottom: 1px solid #cccccc; width: 80px; padding-left: 5px; margin-left: 10px;}

/* 详情页样式 */
.erp-detail{margin-bottom: 30px;}
.erp-detail-title{margin-bottom: 10px;}
.erp-detail-title .layui-elem-field, .erp-detail-title .layui-field-title{margin: 0;}
.erp-detail table th, .erp-detail table td{text-align: center;}
.erp-info-table{background-color: inherit;}
.erp-info-table tr>td:nth-child(2){text-align: left; background-color: #fff;}
.erp-info-table tr>td:first-child{width: 110px; text-align: right;}